@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    /*background-color: black;*/
}

h2, h3, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
    /*color: #fff;*/
}



label, button, input, select {
    font-size: 1.4rem;
  }
  
  /*---- Reset ----*/
  *{
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    margin: 0;
  }
  
   
  h2, h3, p, ul, hr {
    margin-top: 0;
    margin-bottom: 0;
  }