/*.dark-mode {
    width: 100%;
    height: 100vb;
    min-height: 100%;
    background-color: #333;
    color: #fff;
}

.light-mode {
    width: 100%;
    height: 100vb;
    min-height: 100%;
    background-color: #ffffff;
    color: #333333;  
}*/

.dark-mode {
    width: 100%;
    height: 100vh; /* Corrige la propiedad height */
    min-height: 100%;
    background-color: #333;
    color: #fff;
}

.light-mode {
    width: 100%;
    height: 100vh; /* Corrige la propiedad height */
    min-height: 100%;
    background-color: #ffffff; /* Color de fondo en modo claro */
    color: #333333; /* Color del texto en modo claro */
}
.logo {
    font-size: 1.3em;
}

/* Media query para dispositivos con un ancho máximo de 768px (puedes ajustar este valor según tus necesidades) */
@media only screen and (max-width: 768px) {
    .dark-mode,
    .light-mode {
        height: auto; /* Ajusta la altura automáticamente en dispositivos móviles */
    }
}






/*@media screen and (max-width:800px){
    .dark-mode {
        width: 100%;
        height: 100vb;
        min-height: 100%;
        background-color: #333;
        color: #fff;
    }
    .light-mode {
        width: 100%;
        height: 100vb;
        min-height: 100%;
        background-color: #ffffff; /* Color de fondo en modo claro 
        color: #333333;  /*Color del texto en modo claro 
    }

}*/